<h3>Add Author</h3>

<form [formGroup]="authorsForm" (ngSubmit)="saveAuthor()">
    <div>
    <label>Name</label><label class="req">*</label>
    <input type="text" formControlName="name">
    </div>

    <div>
    <label>Birth Date</label>
    <input type="text" formControlName="birthDate">
    </div>

    <div>
    <label>Nationality</label><label class="req">*</label>
    <input type="text" formControlName="nationality">
    </div>

    <div *ngIf="authorsForm.valid">
        <input class="save" type="submit" value="Save">
    </div>
</form>