<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Books</title>
	<link rel="stylesheet" href="book.component.css">
</head>

<body>
<div>
    <img src="../assets/Book.png" alt="Book Image">
    <h3>{{title}}</h3>
</div>

<button class="add" (click)="addBooks()">Add</button>

<table *ngIf="books.length >= 1">
    <thead>
    <tr>
        <!-- <th>ID</th> -->
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Publication Date</th>
        <th>Publisher</th>
        <th>Copies</th>
        <th>Category</th>
        <th>Genre</th>
        <th>Subgenre</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let book of books">
        <!-- <td>{{book.id}}</td> -->
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.publicationDate}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.copies}}</td>
        <td>{{book.category }}</td>
        <td>{{book.genre}}</td>
        <td>{{book.subgenre}}</td>
        <td>
            <button class="delete" (click)="deleteBook(book.id)">Delete</button>
            <button class="update" (click)="updateBook(book.id)">Update</button>
        </td>
    </tr>
    </tbody>
</table>
<h4 *ngIf="books.length < 1">No data</h4>
<h4 *ngIf="books.length >= 1">Count : {{count}}</h4>
</body>
</html>