<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Open Library</title>
	<link rel="stylesheet" href="home.component.css">
</head>

<body>
<h1>Open Library</h1>
<img src="../assets/Library.jpg" alt="Library Image">
<img src="../assets/Library.png" alt="Library Image">

<p>
	This is the home page for the single page web application of a simple library management system. 
	The menu bar on the left consists of six categories namely; <b>Books, Authors, Publishers, Students, Loans, Admins</b>
	and provide a direct link for tabular representation of data in each category. 
	The categories are connected to a backend database for efficient data storing and retrieving.<br> 
	Each category has data manipulation user interfaces provided for <b>insertion, updation, deletion</b>. 
	The project is accomplished using Spring Framework at backend and Angular Framework at frontend development. 
	The idea of this project has been derived and extended from the foundation provided 
	<a href="https://github.com/crkarthik11/openlibrary/">here</a> .
</p>

</body>
</html>