<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Publishers</title>
	<link rel="stylesheet" href="publisher.component.css">
</head>

<body>
<div>
    <img src="../assets/Publisher.png" alt="Publisher Image">
    <h3>{{title}}</h3>
</div>

<button class="add" (click)="addPublishers()">Add</button>

<table *ngIf="publishers.length >= 1">
    <thead>
    <tr>
        <!-- <th>ID</th> -->
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let publisher of publishers">
        <!-- <td>{{publisher.id}}</td> -->
        <td>{{publisher.name}}</td>
        <td>{{publisher.address}}</td>
        <td>{{publisher.phone}}</td>
        <td>{{publisher.email}}</td>
        <td>
            <button class="delete" (click)="deletePublisher(publisher.id)">Delete</button>
            <button class="update" (click)="updatePublisher(publisher.id)">Update</button>
        </td>
    </tr>
    </tbody>
</table>
<h4 *ngIf="publishers.length < 1">No data</h4>
<h4 *ngIf="publishers.length >= 1">Count : {{count}}</h4>
</body>
</html>