<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Students</title>
	<link rel="stylesheet" href="student.component.css">
</head>

<body>
    <div>
        <img src="../assets/Student.png" alt="Student Image">
        <h3>{{title}}</h3>
    </div>
    
    <button class="add" (click)="addStudents()">Add</button>
    
    <table *ngIf="students.length >= 1">
        <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>Name</th>
            <th>Department</th>
            <th>Roll Number</th>
            <th>Birth Date</th>
            <th>Mobile Number</th>
            <th>Action</th>
        </tr>
        </thead>
    
        <tbody>
        <tr *ngFor="let student of students">
            <!-- <td>{{student.id}}</td> -->
            <td>{{student.name}}</td>
            <td>{{student.department}}</td>
            <td>{{student.rollNumber}}</td>
            <td>{{student.birthDate}}</td>
            <td>{{student.mobileNumber}}</td>
            <td>
                <button class="delete" (click)="deleteStudent(student.id)">Delete</button>
                <button class="update" (click)="updateStudent(student.id)">Update</button>
            </td>
        </tr>
        </tbody>
    </table>
    <h4 *ngIf="students.length < 1">No data</h4>
    <h4 *ngIf="students.length >= 1">Count : {{count}}</h4>
    </body>
    </html>
