<h3>Add Admin</h3>

<form [formGroup]="adminsForm" (ngSubmit)="saveAdmin()">
    <div>
    <label>Name</label><label class="req">*</label>
    <input type="text" formControlName="name">
    </div>

    <div>
    <label>Username</label><label class="req">*</label>
    <input type="text" formControlName="username">
    </div>

    <div>
    <label>Password</label><label class="req">*</label>
    <input type="text" formControlName="password">
    </div>

    <div *ngIf="adminsForm.valid">
        <input class="save" type="submit" value="Save">
    </div>
</form>